---
import Layout from '../layouts/Layout.astro';
---

<Layout title="plei.one - Blog">
	<main>
        <h1>About</h1>
        <p>Hello! This website currently hosts nothing other than my blog.</p>
	</main>
</Layout>

<style>
	main {
		max-width: 600px;
		margin: 0 auto;
		padding: 0 30px;
		padding-bottom: 30px;
	}
</style>
